Repository networknext/next: changes, and which Semaphore blocks are due for each by the changed paths.
All: Backend, SDK4, SDK5

Path conditions:
  Backend: any of: modules/
  SDK4: any of: sdk4/
  SDK5: any of: sdk5/

update object map
  objects/a2/972e70044290cb2d409d62679030cf242bc74f
Due: none

dynamically updating cost matrix
  TODO
  cmd/relay_backend/relay_backend.go
Due: none

update object map
  objects/74/0c8ecbc6610cdc20557292bd4ace9814a39aed
Due: none

disable auto refresh it's a nnoying
  cmd/relay_backend/relay_backend.go
Due: none

update object map
  objects/ee/9b1ce50c412ba5af2fa0e0d5436ec11e192fff
Due: none

go
  TODO
  cmd/relay_backend/relay_backend.go
Due: none

update object map
  objects/3f/4a8a152c4434cec0117fb1a7caa9e1f777b557
Due: none

digging in deep on route matrix
  TODO
  modules/core/core.go
  modules/core/core_test.go
  modules/handlers/session_update_test.go
Due: Backend

go
  modules/core/core.go
Due: Backend

update object map
  objects/f9/b2ba34752be36e3998228cb469201743a658a0
  objects/fe/3a3ccde7d380e609112693b220f2dfcc844d88
Due: none

fix the derp
  cmd/relay_backend/relay_backend.go
Due: none

update object map
  objects/25/dd66d18d20fbbb99369cc6d17cfdfdf82502f9
Due: none

try agani
  cmd/relay_backend/relay_backend.go
  modules/core/core.go
Due: Backend

try this
  TODO
  modules/core/core.go
Due: Backend

update object map
  objects/60/0ebd1f430939ef79cc2ef03dc7e66cec6846ea
  objects/7c/f13232427b6f62c87e535aa90ad665a0cba5fd
Due: none

go
  TODO
  modules/core/core.go
  modules/core/core_test.go
  modules/handlers/session_update.go
  modules/handlers/session_update_test.go
Due: Backend

go
  cmd/func_backend5/func_backend5.go
  modules/common/service.go
  modules/core/core_test.go
  modules/packets/relay_packets.go
Due: Backend

update object map
  objects/f9/8e20f98d4ec635bae1784a75cbbc9a851ab3cc
  objects/ff/cf425b5580121290ed3ed089a05c1e16732b07
Due: none

64 routes per-entry max
  modules/core/core.go
Due: Backend

update object map
  objects/21/8a558527c4cda35b35a02ba42b2b94e6772bcb
Due: none

adjusted test now that routes can rep in same datacenter
  TODO
  modules/common/relay_manager.go
  modules/core/core.go
  modules/core/core_test.go
Due: Backend

ready
  cmd/func_backend5/func_backend5.go
  cmd/func_tests_backend/func_tests_backend.go
  cmd/relay_backend/relay_backend.go
  modules/common/relay_manager.go
Due: Backend

update object map
  objects/9f/9abb34d5a4a8c334753042cbc4ac8df69d2d45
  objects/f0/2f270a89911d8eb6418367fd1cb242d64c1fc1
Due: none

fix typo
  examples/complex_client.cpp
Due: none

turn expire checks back on in the ref relay
  examples/complex_client.cpp
Due: none

turn expire checks back on in the ref relay
  TODO
  reference/reference_relay/reference_relay.cpp
  reference/reference_relay/reference_relay_version.h
  sdk5/examples/complex_client.cpp
Due: SDK5

update object map
  objects/e3/0d1e289fbdc5fbb5396287a65f6e8b22c9e485
Due: none

get expire back in relay and fix counters
  cmd/relay_backend/relay_backend.go
  reference/reference_relay/reference_relay.cpp
Due: none

update object map
  objects/6e/1a80e0da972ad598aa1006158f0c2870d736cc
Due: none

updated notes
  TODO
  cmd/relay_backend/relay_backend.go
Due: none

update object map
  objects/6b/3a302f826cb9dbc70fc1e652e5968bf7181014
Due: none

white color cost is easier to see
  cmd/relay_backend/relay_backend.go
Due: none

update object map
  objects/4b/e1cf4623754deababcfff9d076efb155bc21e7
Due: none

fix id in database html
  modules/database/database.go
Due: Backend

update object map
  objects/05/841a7e65dc30a2cbf8fc01ad47eba3f2de5f11
  objects/54/3b243c48d5b46c1d67d7a09d1cc09f6e54fc4f
Due: none

turn expiry back on in relay backend
  modules/common/relay_manager.go
Due: Backend

update object map
  objects/da/8e1f7ff723beddfa5fb4ae230ccc6ccc681c1c
Due: none

can now download relay manager gob state via /relay_manager
  TODO
  cmd/relay_backend/relay_backend.go
  go.mod
  go.sum
  modules/common/relay_manager.go
Due: Backend

fix relay manager download
  cmd/relay_backend/relay_backend.go
  modules/common/relay_manager.go
Due: Backend
