Repository networknext/next: changes, and which Semaphore blocks are due for each by the changed paths.
All: Backend, SDK4, SDK5

Path conditions:
  Backend: any of: modules/
  SDK4: any of: sdk4/
  SDK5: any of: sdk5/

code to process relay counters in backend
  TODO
  cmd/func_backend5/func_backend5.go
  cmd/func_tests_backend/func_tests_backend.go
  cmd/relay_backend/relay_backend.go
  modules/common/relay_manager.go
  modules/packets/relay_packets.go
  reference/reference_relay/reference_relay.cpp
Due: Backend

debug counters
  cmd/relay_backend/relay_backend.go
Due: none

go
  reference/reference_relay/reference_relay.cpp
  reference/reference_relay/reference_relay_version.h
Due: none

have the counter URL ready. working in bed from now on, not feeling well
  TODO
  cmd/relay_backend/relay_backend.go
Due: none

extremely basic print counters to html on 'relay_counters' endpoint
  cmd/relay_backend/relay_backend.go
Due: none

counters printing from relay backend working (basic), next do html table
  cmd/relay_backend/relay_backend.go
Due: none

update object map
  objects/08/2f53320eb4ddd8aa3e4eb596b1b39984ce47ac
  objects/52/dd728ed82eb52cdafeab6474d9aec1fae180bf
  objects/80/815acffec9cabf93814a2aaa8d39d4ec2b0176
  objects/93/6a95fc6624e75c0f7c258db3968063560af7b2
  objects/9a/6d3863732fb9f9304dea576b6ce7a76dd8a850
  objects/a6/d36758d10daa4b33ecc827950dac3fa5838f70
Due: none

relay counters nice html table print in relay backend working
  TODO
  cmd/relay_backend/relay_backend.go
  modules/common/relay_manager.go
Due: Backend

update object map
  objects/e5/e50d1bc6e1a44ae2ba0285b77ce5e24a01ded7
Due: none

see if this passes func tests
  sdk4/source/next.cpp
Due: SDK4

see if this passes func tests
  source/next.cpp
Due: none

update object map
  objects/7f/5872cb2645b03382909f7d5ec6911ca0c79b09
Due: none

should fix functional tests in sem
  .semaphore/functional-tests-sdk4.yml
  .semaphore/functional-tests-sdk5.yml
Due: none

update object map
  objects/95/86829a606642714be52099fb60cafd179b7882
Due: none

fix backend func tests
  .semaphore/functional-tests-backend.yml
  sdk5/source/next.cpp
Due: SDK5

fix backend func tests
  source/next.cpp
Due: none

update object map
  objects/6b/ca8f99d063a1726cfb482a712da858b24dcb42
Due: none

ok this should do it
  .semaphore/functional-tests-backend.yml
  .semaphore/functional-tests-sdk4.yml
  .semaphore/functional-tests-sdk5.yml
Due: none

update object map
  objects/5b/6624754184b98c43e4d1037a3e09f2375dc102
Due: none

undo
  source/next.cpp
Due: none

undo
  sdk4/source/next.cpp
  sdk5/source/next.cpp
Due: SDK4, SDK5

update object map
  objects/85/8508a4c7a52da16b2ae7459be5a225d09dcbcf
Due: none

fix func tests
  .semaphore/functional-tests-backend.yml
  .semaphore/functional-tests-sdk4.yml
  .semaphore/functional-tests-sdk5.yml
  .semaphore/happy-path.yml
  cmd/func_tests_sdk4/func_tests_sdk4.go
  cmd/func_tests_sdk5/func_tests_sdk5.go
Due: none

update object map
  objects/b5/1c63cff43f01f8626d61c6e74159ad43c3686d
Due: none

try again
  source/next.cpp
Due: none

try again
  cmd/func_tests_sdk4/func_tests_sdk4.go
  cmd/func_tests_sdk5/func_tests_sdk5.go
  sdk4/source/next.cpp
  sdk5/source/next.cpp
Due: SDK4, SDK5

update object map
  objects/e9/1bfe76c2b1d528439a6c6c956d3e66985618af
Due: none

go
  cmd/func_tests_sdk4/func_tests_sdk4.go
  cmd/func_tests_sdk5/func_tests_sdk5.go
Due: none

update object map
  objects/0f/a4a2355cd32da6acfa03ced6ae18fa0217bf6f
Due: none

relay updates just got expensive
  cmd/func_tests_backend/func_tests_backend.go
Due: none

update object map
  objects/89/e3bca617ae3c73e8ff96dd5ab67e0892bd41fe
Due: none

fix relay backend func test
  cmd/func_tests_backend/func_tests_backend.go
  modules/packets/relay_packets.go
Due: Backend

update object map
  objects/93/5f92d5c926c7d0e37e102ed872ee95b5096a63
Due: none

run unit test
  modules/packets/sdk5_packets_test.go
Due: Backend

update object map
  objects/a2/01efd194bf50a77b01e96839c1fe3a144e67cf
Due: none

lovely database endpoint for each service with a HTML formatted database render
  TODO
  modules/common/service.go
  modules/database/database.go
Due: Backend

update object map
  objects/58/cfa6a99ad2f542616db96ed6f399f5b4102c22
Due: none

tweak
  TODO
  modules/common/service.go
Due: Backend
